{{ define "title"}}
创建文章分类
{{ end }}

{{ define "main" }}
<div
  class="h-min mb-4 overflow-hidden rounded-lg bg-white shadow px-6 py-4 shadow-md"
>
  <h3 class="font-semibold text-2xl">新建文章分类</h3>

  <form action="{{ RouteName2URL "categories.store" }}" method="post">
    <div class="mt-4">
      <label for="name" class="block font-medium text-sm text-gray-700"
        >分类名称</label
      >
      <input
        type="text"
        class="h-10 border-gray-300 focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50 rounded-md shadow-sm mt-1 block w-full {{if .Errors.name }} border-red-300 {{ end }}"
        name="name"
        value="{{ .Category.Name }}"
        required
      />
      {{ with.Errors.name }}
      <p class="mt-2 text-sm text-red-600">
        {{ . }}
      </p>
      {{ end }}
    </div>

    <button
      type="submit"
      class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition whitespace-nowrap mt-4"
    >
      提交
    </button>
  </form>
</div>
{{ end }}
