{{ define "messages" }}
<div class="{{ if .flash.success }} bg-indigo-500 {{ else if .flash.danger }} bg-red-700 {{ else if .flash.info }} bg-gray-500 {{ else }} hidden {{ end }}">
  <div class="max-w-screen-xl mx-auto py-2 px-3 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between flex-wrap">
      <div class="w-0 flex-1 flex items-center min-w-0">
        <span class="flex p-2 rounded-lg {{ if .flash.success }} bg-indigo-600 {{ else if .flash.danger }} bg-red-600 {{ end }}">
            {{ if .flash.success }}
            <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
                 fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            {{ else if .flash.danger }}
            <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
                 fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            {{ else }}
            <svg class="h-5 w-5 text-white"
                 xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            {{ end }}
        </span>

        <p class="ml-3 font-medium text-sm text-white truncate">
          {{ if .flash.success }}
          {{ .flash.success }}
          {{ else if .flash.danger }}
          {{ .flash.danger }}
          {{ else }}
          {{ .flash.info }}
          {{ end }}
        </p>
      </div>

      <div class="shrink-0 sm:ml-3">
        <button
          type="button"
          class="-mr-1 flex p-2 rounded-md focus:outline-none sm:-mr-2 transition {{ if .flash.success }} hover:bg-indigo-600 focus:bg-indigo-600 {{ else if .flash.danger }} hover:bg-red-600 focus:bg-red-600 {{ end }}"
          aria-label="Dismiss">
          <svg class="h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
{{ end }}