{{ define "pagination" }}
{{ if .HasPages }}
<nav
  role="navigation"
  aria-label="Pagination Navigation"
  class="flex justify-between mb-4"
>
  <!-- Previous Page Link -->
  {{ if .HasPrev }}
  <a
    href="{{ .Prev.URL }}"
    rel="prev"
    class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
  >
    上一页
  </a>
  {{ else }}
  <span
    class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md"
  >
    上一页
  </span>
  {{ end }}

  <!-- Next Page Link -->
  {{ if .HasNext }}
  <a
    href="{{ .Next.URL }}"
    rel="next"
    class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-700 bg-white border border-gray-300 leading-5 rounded-md hover:text-gray-500 focus:outline-none focus:ring ring-gray-300 focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150"
  >
    下一页
  </a>
  {{ else }}
  <span
    class="relative inline-flex items-center px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 cursor-default leading-5 rounded-md"
  >
    下一页
  </span>
  {{ end }}
</nav>
{{ end }}
{{ end }}
