{{ define "app" }}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ template "title" . }}</title>
  <link href="/css/app.css" rel="stylesheet">
</head>
<body class="bg-gray-50">
{{ template "messages" . }}
<div class="md:flex justify-between mx-auto max-w-7xl mt-4 md:mt-20 px-4">

  {{ template "sidebar" . }}

  <div class="w-full md:w-3/4">
    {{ template "main" . }}
  </div>
</div>
</body>
</html>
{{ end }}