{{ define "sidebar" }}
<div class="w-full md:w-1/4 mr-4 mb-4 md:mb-0">
  <div class="overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:p-6">
      <h2 class="font-normal text-2xl mb-2"><a href="{{ RouteName2URL "home" }}">GoBlog</a></h2>
      <p class="mb-0">摒弃世俗浮躁，追求技术精湛</p>
    </div>
  </div>
  <div class="mt-4 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:p-6">
      <h2 class="font-normal text-2xl mb-2">类别</h2>
      <ol>
        {{ range $key, $category := .Categories }}
        <li class="flex justify-between items-center">
          <a
            href="{{ $category.Link }}"
            class="text-blue-400 hover:text-blue-400 hover:border-b hover:border-blue-400"
            >{{ $category.Name }}</a
          >
          <a href="{{ RouteName2URL "categories.edit" "id" $category.GetStringID }}">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
          </a>
        </li>
        {{ end }}
        <li>
          <a
            href="{{ RouteName2URL "categories.create" }}"
            class="text-blue-400 hover:text-blue-400 hover:border-b hover:border-blue-400"
            >+ 新建分类</a
          >
        </li>
      </ol>
    </div>
  </div>
  <div class="mt-4 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:p-6">
      <h2 class="font-normal text-2xl mb-2">作者</h2>
      <ol>
        {{ range $key, $user := .Users }}
        <li>
          <a
            href="{{ $user.Link }}"
            class="text-blue-400 hover:text-blue-400 hover:border-b hover:border-blue-400"
            >{{ $user.Name }}</a
          >
        </li>
        {{ end }}
      </ol>
    </div>
  </div>
  <div class="mt-4 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:p-6">
      <h2 class="font-normal text-2xl mb-2">链接</h2>
      <ol>
        <li>
          <a
            href="#"
            class="text-blue-400 hover:text-blue-400 hover:border-b hover:border-blue-400"
            >关于我们</a
          >
        </li>
        {{ if .isLogined }}
        <li>
          <a
            href="{{ RouteName2URL "articles.create" }}"
            class="text-blue-400 hover:text-blue-400 hover:border-b hover:border-blue-400"
            >开始写作</a
          >
        </li>
        <li>
          <form
            action="{{ RouteName2URL "auth.logout" }}"
            method="post"
            class="mt-2"
            onsubmit="return confirm('您确定要退出吗？')"
          >
            <button
              type="submit"
              class="inline-flex items-center justify-center px-4 py-2 bg-red-600 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-red-500 focus:outline-none focus:border-red-700 focus:ring focus:ring-red-200 active:bg-red-600 disabled:opacity-25 transition whitespace-nowrap"
            >
              退出
            </button>
          </form>
        </li>
        {{ else }}
        <li>
          <a
            href="{{ RouteName2URL "auth.register" }}"
            class="text-blue-400 hover:text-blue-400 hover:border-b hover:border-blue-400"
            >注册</a
          >
        </li>
        <li>
          <a
            href="{{ RouteName2URL "auth.login" }}"
            class="text-blue-400 hover:text-blue-400 hover:border-b hover:border-blue-400"
            >登录</a
          >
        </li>
        {{ end }}
      </ol>
    </div>
  </div>
</div>
{{ end }}
