{{define "title"}}
编辑文章 -- 我的技术博客
{{end}}

{{define "main"}}
<div
  class="h-min mb-4 overflow-hidden rounded-lg bg-white shadow px-6 py-4 shadow-md">

  <h3 class="font-semibold text-2xl">编辑文章</h3>

  <form action='{{ RouteName2URL "articles.update" "id" .Article.GetStringID }}' method="post">
    {{template "form-fields" . }}

    <button
      type="submit"
      class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition whitespace-nowrap mt-4">
      更新
    </button>
  </form>
</div>
{{end}}