{{ define "title" }}
所有文章 -- 我的技术博客
{{ end }}

{{ define "main" }}
{{ if .Articles }}
{{ range $key, $article := .Articles }}
<div class="h-min mb-4 overflow-hidden rounded-lg bg-white shadow">
  <div class="px-4 py-5 sm:p-6">
    <h2 class="font-normal text-2xl mb-2">
      <a href="{{ $article.Link }}">{{ $article.Title }}</a>
    </h2>

    {{ template "article-meta" $article }}

    <hr class="my-2" />
    <p>{{ $article.Body }}</p>
  </div>
</div>
{{ end }}
<!-- 分页 -->
{{ template "pagination" .PagerData }}
{{ else }}
<div class="text-center">
  <svg
    class="mx-auto h-12 w-12 text-gray-400"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    aria-hidden="true"
  >
    <path
      vector-effect="non-scaling-stroke"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z"
    />
  </svg>
  <h3 class="mt-2 text-sm font-medium text-gray-900">No articles</h3>
  <p class="mt-1 text-sm text-gray-500">
    Get started by creating a new article.
  </p>
  <div class="mt-6">
    <a
      href="{{ RouteName2URL "articles.create" }}"
      type="button"
      class="inline-flex items-center px-4 py-2 bg-gray-800 border border-transparent rounded-md font-semibold text-xs text-white tracking-widest hover:bg-gray-700 active:bg-gray-900 focus:outline-none focus:border-gray-900 focus:ring focus:ring-gray-300 disabled:opacity-25 transition whitespace-nowrap"
    >
      <!-- Heroicon name: mini/plus -->
      <svg
        class="-ml-1 mr-2 h-5 w-5"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        fill="currentColor"
        aria-hidden="true"
      >
        <path
          d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z"
        />
      </svg>
      New Article
    </a>
  </div>
</div>
{{ end }}
{{ end }}
