{{define "title"}}
所有文章 -- 我的技术博客
{{end}}

{{define "main"}}
<div class="w-full md:w-3/4">
  {{ range $key, $article := . }}
  <div class="h-min mb-4 overflow-hidden rounded-lg bg-white shadow">
    <div class="px-4 py-5 sm:p-6">
      <h2 class="font-normal text-2xl mb-2">{{ $article.Title }}</h2>
      <p class="mb-0">发布于 <a href="#"
                                class="text-blue-400 hover:text-blue-400 hover:border-b hover:border-blue-400">2022-12-10</a>
        by <a href="#"
              class="text-blue-400 hover:text-blue-400 hover:border-b hover:border-blue-400">翟宇鑫</a></p>
      <hr class="my-2">
      <p>{{ $article.Body }}</p>
    </div>
  </div>
  {{ end }}
</div>
{{end}}